html, body, input {
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans', sans-serif;
}

pre {
  font-family: 'Fira Mono', monospace;
}

.filter-bar {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.filter-bar input {
  height: 50px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 0 20px;
}

.packet-list-panel {
  margin-top: 50px;
}

.packet-list {
  margin: 0;
  padding: 0;
  width: 100%;
}

.packet-list tr {
  height: 40px;
  line-height: 40px;
  color: #333;
}

.packet-list tbody tr {
  user-select: none;
  cursor: pointer;
}

.packet-list tr.selected {
  background-color: #EEE;
}

.packet-list thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  text-align: left;
  background-color: white;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  font-weight: 600;
  text-transform: uppercase;
}

.packet-list th, .packet-list td {
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom:  1px solid #999;
}

.packet-detail {
  position: fixed;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  font-size: 0;
  border-top: 2px solid #000;
}

.packet-detail > div {
  font-size: 14px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0 20px;
  box-sizing: border-box;
  width: 50%;
}

.packet-detail .packet-raw {
  left: 50%;
}

.packet-detail .packet-attributes {
  left: 0%;
}

.packet-raw pre {
  overflow-x: scroll;
  position: absolute;
  top: 50px;
  bottom: 10px;
  width: 100%;
}

.packet-header-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.packet-header-summary {
  background-color: #EEE;
  height: 36px;
  line-height: 36px;
  padding: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
